<div style="padding-left: 1px; padding-bottom: 0px; width: 400px;"  *ngIf="!onOffD && day" >
  <h5>
    <button (click)="onClickChangeDay('previous')"><</button>
    {{day | date: 'd MMMM yyyy'}}
    <button (click)="onClickChangeDay('next')">></button>
    <button style="float: right;"  (click)="showAdd()">Add event</button>
  </h5>
  <table style="font-size: 12px">
    <tbody>
    <tr>
      <th>Time</th>
      <th>Title</th>
      <th>Text</th>
    </tr>
    <tr *ngFor="let ev of showArrEvents">
      <td>{{ev.date | date:'HH:mm'}}</td>
      <td><b>{{ev.title}}</b></td>
      <td>{{ev.text}}</td>
      <ng-container *ngIf="ev.title!=''" >
        <button (click)="editEvent(ev.id)">Edit</button>
        <button style="background: red" (click)="this.delete(ev)">&times;</button>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
