<div style="padding-left: 1px; padding-bottom: 0px; width: 400px;"  *ngIf="!onOffD && day" >
  <h5>
    <button (click)="onClickLeft()"><</button>
    {{day | date: 'd MMMM yyyy'}}
    <button (click)="onClickRight()">></button>
    <button style="float: right;">Add event</button>
  </h5>
  <table style="font-size: 12px">
    <th>Time</th>
    <th>Title</th>
    <th>Text</th>
    <tr *ngFor="let ev of showArrEvents">
      <td>{{ev.date | date:'HH:mm'}}</td>
      <td><b>{{ev.title}}</b></td>
      <td>{{ev.text}}</td>
      <button *ngIf="ev.title!=''">Edit</button>
      <button *ngIf="ev.title!=''" style="background: red">x</button>
    </tr>
  </table>
</div>
