<h2 style="text-align: center">The calendar
  <button (click)="viewMonth = !viewMonth">Month / Day</button>
</h2>
<table style="align-self: baseline">
  <tr style="vertical-align: 10px;" >
    <td style="background: burlywood;">
      <app-view
        (onSelectDay)= "chooseDate($event)"
        (viewOnOff)="changeView($event)"
        (viewAdd)="showAdd($event)"
        [onOff]="viewMonth"
        [day]="selectDay"
        [showAdE]="viewAdd"
      ></app-view>
    </td>
    <td style="background: aquamarine; align-self: baseline">
      <app-day
        [day]="selectDay"
        [onOffD]="viewMonth"
        (onSelectDay)= "chooseDate($event)"
        (onRemoveEvent)="removeEvent($event)"
        (onEditEvent)="editEvent($event)"
        (viewAdd)="showAdd($event)"
        [showAdE]="viewAdd"
      ></app-day>
    </td>
    <td>
      <app-add-event
        [onOff]="viewAdd"
        [day]="selectDay"
        [editId]="idToEdit"
        (onAddMyEvent)="updateMyEvent($event)"
        (onSelectDay)= "chooseDate($event)"
      ></app-add-event>
    </td>
    <td>
      <button (click)="showList = !showList">Show all events</button>
        <ng-container *ngIf="showList">
          <p>Events list:</p>
          filter by
          <button (click)="searchField = 'title'">Title</button> or
          <button (click)="searchField = 'text'">Text</button>
          <br>
          <input type="text" [(ngModel)]="search">
          <br>
          <app-events-list style="font-size: 12px"
            *ngFor="let e of this.eventMaker.events | filter: search: searchField"
            [event]="e"
          >
          </app-events-list>
        </ng-container>
    </td>
  </tr>
</table>
