.main {
  width: 175px;
  text-align: center;
}

.cell {
  height: 20px;
  width: 25px;
  float: left;
}

.cellweekend {
  height: 20px;
  width: 25px;
  float: left;
  color: blue;
}
