<div [class.main]="today">
  <h4>{{today | date: 'd MMMM yyyy'}}</h4>
  <h5>
    <button (click)="onClickLeft()"><</button>
    {{monthView | date: 'MMMM yyyy'}}
    <button (click)="onClickRight()">></button>
  </h5>
  <div [class.cell]="today">Mo</div>
  <div [class.cell]="today">Tu</div>
  <div [class.cell]="today">We</div>
  <div [class.cell]="today">Th</div>
  <div [class.cell]="today">Fr</div>
  <div [class.cellweekend]="today">Sa</div>
  <div [class.cellweekend]="today">Su</div>
  <div [class.cell]="today"
       (click)="onClick($event)"
       *ngFor="let cell of tempArr">
    <div *ngIf="cell!=' '">{{cell | date:'dd'}}</div></div>
</div>
