<div [class.main]="today">
  <h3>{{today | date: 'd MMMM yyyy'}}</h3>
  <h4>
    <button (click)="onClickLeft()"><</button>

    {{monthView | date: 'MMMM yyyy'}}

    <button (click)="onClickRight()">></button>
  </h4>
  <div [class.cell]="today">Mo</div>
  <div [class.cell]="today">Tu</div>
  <div [class.cell]="today">We</div>
  <div [class.cell]="today">Th</div>
  <div [class.cell]="today">Fr</div>
  <div [class.cellweekend]="today">Sa</div>
  <div [class.cellweekend]="today">Su</div>
  <div [class.cell]="today" *ngFor="let cell of tempArr">{{cell}}</div>
</div>

