<div [class.main]="today" *ngIf="onOff">
  <h4><button (click)="showAdd()">Add event</button></h4>
  <h5>
    <button (click)="onClickChangeMonth('previous')"><</button>
    {{monthView | date: 'MMMM yyyy'}}
    <button (click)="onClickChangeMonth('next')">></button>
  </h5>
  <div [class.cell]="today">Mo</div>
  <div [class.cell]="today">Tu</div>
  <div [class.cell]="today">We</div>
  <div [class.cell]="today">Th</div>
  <div [class.cell]="today">Fr</div>
  <div [class.cellweekend]="today">Sa</div>
  <div [class.cellweekend]="today">Su</div>
  <div [class.cell]="today"
       (click)="onClick($event)"
       *ngFor="let cell of tempArr">
    <div *ngIf="cell!=' '"
         [ngStyle]="{
          color: painToday(cell | date:'dd')? 'blue':'black',
          fontWeight: painToday(cell | date:'dd')? 'bold':'',
          textDecoration: painToday(cell | date:'dd')? 'underline':'',
          borderRadius: '10px',
          background: paintEvent(cell | date:'dd')? 'white':'burlywood',
          cursor: paintEvent(cell | date:'dd')? 'pointer':'default'
         }">
      {{cell | date:'dd'}}
    </div>
  </div>
</div>


